<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blockchain Client</title>

    <!-- Stylesheets -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/vendor/DataTables/css/datatables.min.css" rel="stylesheet">
    <link href="/static/vendor/font-awesome/font-awesome.min.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>



  </head>

  <body>



        <!---Menú top--->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container">
            <a class="navbar-brand" href="/">Blockchain Client</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item" >
                  <a class="nav-link" href="/index">Wallet Generator
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/nova/entrada">Nova Entrada</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/veure/entrades">Veure CVs
                    </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="http://127.0.0.1:5001">Log In
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      <br>
        <br>
          <br>
            <br>
              <br>





    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="card-body">
            <h2 class="card-title">TFG - Validació de CV amb sistema Blockchain</h2>
            <br><br>
            <h4 class="card-title">Marta Vilà - 2020</h4>
          </div>
        </div>
      </div>

        </div>

    </script>



  </body>

</html>
